* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    color: #39354f;
    overflow-x: hidden;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

h1 span {
    color: #12b0ef;
    opacity: 1;
}

/*------------------------hero--------------------------*/

.hero-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    font-family: Arial;
    overflow: hidden;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    order: 1;
}

.hero-left p {
    line-height: 1.5rem;
    font-size: 13pt;
}

.hero-right {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
    align-items: center;
    justify-content: space-between;
    order: 2;
}

.navbar-container {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 100;
}

header {
    max-width: 1200px;
    margin: auto;
    height: 70px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.4);
    backdrop-filter: blur(14px);
    border-radius: 40px;
    border: 1px solid hsla(0, 0%, 85%, 0.4);
    z-index: 50;
    box-shadow: 1px 1px hsla(0, 0%, 86%, 0.2);
}

header ul {
    list-style: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 30px;
}

header .logo {
    color: #55a1c1;
    font-size: 16px;
    font-family: monospace;
    cursor: pointer;
    background-color: #fff;
    padding: 15px;
    border-radius: 30px;
}

header li {
    display: inline;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

header li::before {
    content: '';
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 0px;
    border-radius: 8px;
    position: absolute;
    background-color: #12b0ef;
    transform: scaleX(0);
    transition: all 0.1s ease-in-out;
    transform-origin: bottom;
}

header li:hover::before {
    height: 4px;
    transform: scaleX(1);
}

header li:hover {
    color: #12b0ef;
}

.contact-btn {
    padding: 8px 24px;
    background-color: #55a1c1;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
    background-color: #fff;
    color: #12b0ef;
    border: 2px solid #12b0ef
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.hero .title {
    font-size: 48pt;
    font-weight: 400;
    line-height: 4.4rem;
    text-transform: inherit;
}

.hero h1 {
    margin: 0%;
}

.hero span {
    color: #55a1c1;
}

.hero .profile {
    border-radius: 300px 0px 300px 300px;
    max-width: 100%;
    max-height: calc(100vh - 80px);
    height: auto;
    /*background-color: #d9f4ff;*/
    animation: icon-animate 4s ease-in-out alternate-reverse infinite;
    z-index: 2;
}

.hero .img-container {
    width: calc(100% - 80px);
    height: fit-content;
    position: relative;
}

.img-container .dot-shape {
    width: 20%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 0px;
    object-fit: contain;
    z-index: 1;
    opacity: 0.6;
    animation: icon-animate 6s ease-in-out alternate-reverse infinite;
}

.hero-icon-side {
    display: flex;
    flex-direction: column;
    width: 80px;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.social-media {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55a1c1;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    animation: icon-animate 2s ease-in-out infinite alternate-reverse;
}

.social-media img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-media:hover {
    opacity: 0.6;
}

.btn {
    border-radius: 40px;
    background-color: transparent;
    border: solid 2px #55a1c1;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    width: 210px;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 2px;
    cursor: pointer;
    font-size: 12pt;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn image {
    border-radius: 50px;
}

.btn::before {
    content: '';
    position: absolute;
    background: linear-gradient(30deg, #55a1c1, #6ac5ec);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    border-radius: 40px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.15s ease-in-out;
}

.btn:hover::before {
    transform: scaleX(1);
}

.btn:hover {
    color: #fff;
}

.hero-container .btn:hover .btn-container {
    transform: rotate(90deg);
    background-color: transparent;
    border: 4px solid #fff;
}

.contact-container .btn:hover .btn-container {
    background-color: transparent;
    border: 4px solid #fff;
    transform: rotate(50deg);
}

.btn-container {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg, #55a1c1, #6ac5ec);
    border-radius: 50px;
    transition: transform 0.2s ease-in-out;
}

.btn-container img {
    width: 20px;
    height: 20px;
}


/*---------------------- ABOUT------------------------------- */

.about-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
    color: #fff;
}

.about-container p {
    font-size: 12pt;
    opacity: 0.8;
    line-height: 1.5rem;
}

.about-container span {
    opacity: 0.8;
}

.about-container .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.about-container .details-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about-container h2 {
    font-weight: 500;
    text-transform: capitalize;
}

.about-container .details-column {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/*---------------------education---------------------- */
.edu-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.edu-container p {
    font-size: 12pt;
    text-transform: uppercase;
}

.edu-container span {
    opacity: 0.8;
}

.edu-container .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.edu-container .date {
    font-size: 10pt;
    background-color: rgb(235, 235, 235);
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 6px;
    border-radius: 18px;
}

.edu-container .icon-container {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #55a1c1;
    border-radius: 50%;
}

.edu-container .icon-container img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.edu-container .content {
    width: calc(100% - 40px);
    height: fit-content;
}

.edu-container .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edu-container .row {
    display: flex;
    gap: 10px;
}

/*----------------skills-----------------------*/

.skill-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.skill-container .card {
    /*background-color: #5dade2;*/
    border: 1px solid hsl(0, 0%, 100%, 0.2);
    background-color: hsla(0, 0%, 88%, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: 4px -2px 4px -2px #1846fc66;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    transition: ease-in-out 0.25s all;
    cursor: pointer;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.skill-container .card:hover {
    transform: scale(0.9);
    z-index: 100;
}

.skill-container .card img {
    width: 50px;
    height: 50px;
}

.skill-container .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.skill-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.skill-container h2 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.skill-card-column {
    display: flex;
    flex-direction: column;
}

.skill-card-row {
    display: flex;
    padding: 0px 20px;
    gap: 20px;
}

.skill-content {
    padding-bottom: 30px;
}

/*----------------------projects---------------------------*/

.project-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
}

.project-container .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project-container .text-container {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid rgba(12, 122, 248, 0.4);
    z-index: 20;
}

.project-container .card {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 4px -4px #12b0ef;
    border: 1px solid rgba(12, 122, 248, 0.4);
}

.project-container .text-container div {
    display: flex;
    gap: 10px;
}

/*---------------------conatct----------------------------*/

.contact-container .icon-container {
    background-color: #55a1c1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
}

.contact-container .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.contact-container .table p {
    font-size: 12pt;
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.contact-container .row {
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    align-items: flex-start;
}

.contact-container .icon-container img {
    width: 20px;
    height: 20px;
}

.contact-container span {
    opacity: 0.8;
}

.contact-container .content {
    width: calc(100% - 40px);
}

input[type="text"] {
    flex: 1;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #eeeeee;
    outline: none;
}

textarea {
    background-color: #eeeeee;
    border-radius: 18px;
    resize: none;
    padding: 15px;
    outline: none;
    border: none;
    font-family: Arial;

}

.contact-container .table {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px
}

.contact-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inline-input {
    display: flex;
    gap: 20px;
}

/*------------------------projects----------------------*/

.project-container .prev {
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: 300px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.project-container .prev:hover {
    transform: scale(2);
}

.github-icon {
    width: 40px;
    height: 40px;
    background-color: #55a1c1;
    border-radius: 50%;
}

.project-btn {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #55a1c1;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.project-container .card:hover .project-btn {
    transform: rotate(30deg);
    background-color: #05214e;
}

.project-container .card:hover .github-icon {
    background-color: #05214e;
}

/*------------------------experience--------------------------*/

.experience-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
}

.experience-container .line,
.experience-container .dot {
    background-color: #12b0ef;
}

.experience-container .column {
    display: flex;
    flex-direction: column;
}

.experience-container .row {
    display: flex;
    gap: 20px;
}

.experience-container .text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}

.experience-container .row:nth-child(3) .text-container {
    padding-bottom: 0px;
}

.experience-container .text-container .title {
    font-size: 16pt;
    text-transform: uppercase;
    font-weight: 600;
}

.experience-container .text-container p {
    font-size: 14pt;
    opacity: 0.8;
}

/*--------------------footer---------------------*/

.footer-container {
    max-width: 1200px;
    margin: auto;
    color: #fff;
    opacity: 0.8;
    padding: 20px 0px;
}

.footer-container p {
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}

/*--------------------style components------------------*/
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: #d9f4ff
}

.line {
    width: 2px;
    height: calc(100% - 15px);
    background-color: #d9f4ff;
}

.dot-line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------media queary---------------------*/

@media (max-width:1220px) {

    .edu-container,
    .about-container,
    .hero-container,
    .contact-container,
    .project-container,
    .experience-container,
    .navbar-container,
    .skill-container,
    .edu-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:1080px) {
    .edu-container .table {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hero-container .hero {
        grid-template-columns: 1fr;
    }

    .hero-right {
        order: 2;
        justify-content: center;
        align-items: center;
    }

    .hero-left {
        order: 1;
        align-items: center;
    }

    .hero-left p {
        opacity: 0.8;
        line-height: 1.5rem;
    }

    .hero-left .title {
        text-align: center;
    }

    .hero p {
        text-align: center;
    }

    .project-container .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:870px) {
    .about-container .table {
        grid-template-columns: 1fr;
    }

    .skill-container .table {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    header ul {
        display: none;
    }

    .project-container .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container .table {
        grid-template-columns: 1fr;
    }
}

@media (max-width:570px) {
    .project-container .card-container {
        grid-template-columns: 1fr;
    }

    .skill-table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:450px) {
    .skill-table {
        grid-template-columns: 1fr;
    }

    .inline-input {
        flex-direction: column;
        gap: 20px;
    }
}

/*----------------animation----------------------------*/

@keyframes appear {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes icon-animate {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}