* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    scroll-behavior: smooth;
    color: #39354f;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/*------------------------hero--------------------------*/

.hero-container {
    max-width: 1200px;
    margin: auto;
    font-family: Arial;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    order: 1;
}

.hero-right {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
    align-items: center;
    justify-content: space-between;
    order: 2;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

.contact-btn {
    padding: 10px 30px;
    background-color: #55a1c1;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hero .title {
    font-size: 48pt;
    font-weight: 400;
    line-height: 4.4rem;
}

.hero .profile {
    border-radius: 300px 0px 300px 300px;
    max-width: 100%;
    max-height: calc(100vh - 80px);
    height: auto;
    background-color: #d9f4ff;
}

.hero .img-container {
    width: calc(100% - 80px);
    height: fit-content;
    position: relative;
}

.btn {
    border-radius: 40px;
    background-color: transparent;
    border: solid 2px #55a1c1;
    text-transform: uppercase;
    display: flex;
    width: 210px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 2px;
    cursor: pointer;
    font-size: 12pt;
}

.btn image {
    border-radius: 50px;
}

h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

/*---------------------- ABOUT------------------------------- */

.about-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
    color: #fff;
}

.about-container p {
    padding: 10px;
}

.about-container span {
    opacity: 0.8;
}

.about-container .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/*---------------------education---------------------- */
.edu-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}

.edu-container p {
    font-size: 12pt;
    text-transform: uppercase;
}

.edu-container span {
    opacity: 0.8;
}

.edu-container .table {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.edu-container .date {
    font-size: 10pt;
    background-color: rgb(235, 235, 235);
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 6px;
    border-radius: 18px;
}

.edu-container .icon-container {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #55a1c1;
    border-radius: 30px;
}


.edu-container .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edu-container .row {
    display: flex;
    gap: 6px;
}

/*----------------skills-----------------------*/

.skill-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.skill-container .card {
    /*background-color: #5dade2;*/
    border: 1px solid hsl(0, 0%, 100%, 0.2);
    background-color: hsla(0, 0%, 88%, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: 4px -2px 4px -2px rgba(24, 70, 252, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    transition: ease-in-out 0.25s all;
    cursor: pointer;
}

.skill-container .card:hover {
    transform: scale(0.9);
    z-index: 100;
}

.skill-container .card img {
    width: 50px;
    height: 50px;
}

.skill-container .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.skill-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/*----------------------projects---------------------------*/

.project-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
}

.project-container .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project-container .text-container {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid rgba(12, 122, 248, 0.4);
    z-index: 100;
}

.project-container .card {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 4px -4px #12b0ef;
    border: 1px solid rgba(12, 122, 248, 0.4);
}

/*---------------------conatct----------------------------*/

.contact-container .icon-container {
    background-color: #55a1c1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
}

.contact-container .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.contact-container .row {
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    align-items: flex-start;
}

.contact-container span {
    opacity: 0.8;
}

input[type="text"] {
    flex: 1;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #eeeeee;
    outline: none;
}

textarea {
    background-color: #eeeeee;
    border-radius: 18px;
    resize: none;
    padding: 10px;
    outline: none;
    border: none;

}

.contact-container .table {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px
}

.contact-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inline-input {
    display: flex;
    gap: 20px;
}

/*------------------------projects----------------------*/

.project-container .prev {
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: 300px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.project-container .prev:hover {
    transform: scale(2);
}

.github-icon {
    width: 40px;
    height: 40px;
    background-color: #55a1c1;
    border-radius: 50%;
}

.project-btn {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #55a1c1;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/*------------------------experience--------------------------*/

.experience-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0px;
}

.experience-container .line,
.experience-container .dot {
    background-color: #12b0ef;
}

/*--------------------footer---------------------*/

.footer-container {
    max-width: 1200px;
    margin: auto;
    color: #fff;
    opacity: 0.8;
    padding: 20px 0px;
}


/*--------------------style components------------------*/
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: #d9f4ff
}

.line {
    width: 2px;
    height: calc(100% - 15px);
    background-color: #d9f4ff;
}

.dot-line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------media queary---------------------*/

@media (max-width:1220px) {

    .edu-container,
    .about-container,
    .hero-container,
    .contact-container,
    .project-container,
    .experience-container,
    .skill-container,
    .edu-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:1080px) {
    .edu-container .table {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hero-container .hero {
        grid-template-columns: 1fr;
    }

    .hero-right {
        order: 2;
        justify-content: center;
        align-items: center;
    }

    .hero-left {
        order: 1;
        align-items: center;
    }

    .hero-left p {
        opacity: 0.8;
        line-height: 1.5rem;
    }

    .hero-left .title {
        text-align: center;
    }

    .hero p {
        text-align: center;
    }

    .project-container .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:850px) {
    .about-container .table {
        grid-template-columns: 1fr;
    }

    .skill-container .table {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    header ul {
        display: none;
    }

    .project-container .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container .table {
        grid-template-columns: 1fr;
    }
}

@media (max-width:570px) {
    .project-container .card-container {
        grid-template-columns: 1fr;
    }

    .skill-table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:450px) {
    .skill-table {
        grid-template-columns: 1fr;
    }

    .inline-input {
        flex-direction: column;
        gap: 20px;
    }
}